.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 40px;
    background-color: transparent;
    margin-bottom: 35px;

    .theme {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}